.land{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.formWrap{
    width: fit-content;
    position: relative;
    left: 55%;
    top: 20%;
    display: flex;
    flex-direction: column;
}
.linksWrap{
    align-self: flex-end;
    margin-bottom: 20px;
}
.linksWrap p {
    font-weight: lighter;
    color: white;
}
.linksWrap b {
    cursor: pointer;
}
.linksWrap b:hover {
    color: #EB4AA0;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
}
