.container{
    margin-top: 90px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    width: 80%;
    align-self: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 50px;
}
.selectContainer{
    width: 40%;
    background-color: #FFF;
    border-radius: 10px;
    border: solid 2px #000;
    box-shadow: 5px 5px #000;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-family: 'Chivo';
    font-weight: normal;
    font-size: 15px;
}
.boxSelect{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.select{
    font-family: 'Chivo';
    font-size: 15px;
    height: 25px;
    width: 120px;
    border: solid 2px #000;
    border-radius: 5px;
}
.selectA{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/icons/orderUP1.png");
    cursor: pointer;
    position: relative;
}
.selectA::before,
.selectA::after{
    --scale : 0;
    position: absolute;
    top: 50px;
    left: 8px;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: .1s;
    transform-origin: top center;
}
.selectA::before{
    content: attr(data-tooltip);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}
.selectA:hover::before{
    --scale : 1;
}
.selectAon{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/icons/orderUP2.png");
    cursor: pointer;
    position: relative;
}
.selectAon::before,
.selectAon::after{
    --scale : 0;
    position: absolute;
    top: 50px;
    left: 8px;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: .1s;
    transform-origin: top center;
}
.selectAon::before{
    content: attr(data-tooltip);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}
.selectAon:hover::before{
    --scale : 1;
}


.selectB{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/icons/orderDOWN1.png");
    cursor: pointer;
    position: relative;
}
.selectB::before,
.selectB::after{
    --scale : 0;
    position: absolute;
    top: 50px;
    left: 8px;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: .1s;
    transform-origin: top center;
}
.selectB::before{
    content: attr(data-tooltip);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}
.selectB:hover::before{
    --scale : 1;
}


.selectBon{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/icons/orderDOWN2.png");
    cursor: pointer;
    position: relative;
}
.selectBon::before,
.selectBon::after{
    --scale : 0;
    position: absolute;
    top: 50px;
    left: 9px;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: .1s;
    transform-origin: top center;
}
.selectBon::before{
    content: attr(data-tooltip);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}
.selectBon:hover::before{
    --scale : 1;
}

.select{
    height: 30px;
    padding-left: 5px;

    appearance: none;
}
.select:focus{
    border: solid 2px #9ADD43;
}